body {
  font-family: Arial;
  margin: 40px;
}

h1 {
  color: green;
}

/* Header style */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #0b3d2e; /* this is the dark green background */
  color: white;
}

.logo img {
  height: 50px;
  vertical-align: middle;
  margin-right: 10px; /* spacing so nav doesn’t touch logo */
}


/* Navigation links */
nav ul {
  list-style: none;
  display: flex; /* horizontal menu */
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #a5d6a7; /* light green hover */
}
