body {
  font-family: Arial;
  margin: 40px;
}

h1 {
  color: green;
}

/* Header style */
header {
  display: flex;
  justify-content: space-between; /* logo left, nav right */
  align-items: center;            /* vertically center items */
  padding: 15px 30px;
  background-color: #0b3d2e;     /* dark green */
  color: white;
}

/* Logo style */
.logo h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

/* Navigation links */
nav ul {
  list-style: none;
  display: flex; /* horizontal menu */
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #a5d6a7; /* light green hover */
}
